/* 热门推荐 */
.hot {
  display: flex;
  flex-wrap: wrap;
  min-height: 508rpx;
  margin: 20rpx 20rpx 0;
  border-radius: 10rpx;
  background-color: #fff;

  .item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 254rpx;
    border-right: 1rpx solid #eee;
    border-top: 1rpx solid #eee;

    .title {
      display: flex;
      align-items: center;
      padding: 24rpx 24rpx 0;
      font-size: 32rpx;
      color: #262626;

      .title-desc {
        font-size: 24rpx;
        color: #7f7f7f;
        margin-left: 18rpx;
      }
    }

    .cards {
      flex: 1;
      padding: 15rpx 20rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .image {
        width: 150rpx;
        height: 150rpx;
      }
    }

    // 取消偶数位的右边框
    &:nth-child(2n) {
      border-right: 0 none;
    }

    // 取消前两个的上边框
    &:nth-child(-n + 2) {
      border-top: 0 none;
    }
  }
}
